exportPattern("^[^\\.]")
import(stringr)
importFrom(XML, readHTMLTable, htmlParse, getNodeSet, toString.XMLNode, xmlValue)
import(tools)
import(RCurl)
import(scrapeR)
import(gdata)
import(scales)
import(maptools)
import(sp)
importFrom (raster, plotRGB, text, brick)
import(rgdal)
importFrom (graphics, layout, par, points, rect)
importFrom (utils, read.csv)
